/* Preview Styling */
#preview {
  right: 0;
}

#preview nav {
  position: relative;
  height: 2.4em;
  display: flex;
  z-index: 2;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
#preview nav .preview-url-input-wrapper {
  flex-grow: 6;
}
#preview nav .preview-url-input-wrapper input {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  line-height: 100%;
  padding: 0 0.5em;
  border: none;
  border-right: 1px solid #ddd;
}
#preview nav .preview-view-toggle-wrapper {
  flex-grow: 1;
}
#preview nav .preview-view-toggle-wrapper::selection {
  background: transparent;
}

#preview nav .preview-view-toggle-wrapper input {
  display: none;
}
#preview nav .preview-view-toggle-wrapper label {
  display: block;
  height: 100%;
}
#preview nav .preview-view-toggle-wrapper label {
  display: flex;
  height: 100%;
  vertical-align: middle;
}
#preview nav .preview-view-toggle-wrapper label > div {
  display: inline-block;
  color: #4e4e4e;
  width: 50%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  line-height: 100%;
  background-color: #efefef;
  transition: background-color 150ms ease;
  padding-top: 0.3em;
  box-sizing: border-box;
}
#preview nav .preview-view-toggle-wrapper label > div:hover {
  cursor: pointer;
  background-color: rgba(29, 161, 242, 0.3);
}
#preview nav .preview-view-toggle-wrapper label > div:first-of-type {
  border-right: 1px solid #1e1e1e;
}
/* left switch on when checked */
/* right switch on when not checked */
#preview nav .preview-view-toggle-wrapper input:checked + label > div:first-of-type,
#preview nav .preview-view-toggle-wrapper input:not(:checked) + label > div:last-of-type {
  background-color: #fefefe;
  color: #2e2e2e;
  border-bottom: 2px solid #1da1f2;
}

#preview [role="tab"] {
  z-index: 1;
  display: none;
  position: absolute;
  top: 2.4em;
  left: 0;
  width: 100%;
  height: calc(100vh - 2.4em);
  background-color: #fefefe;
}

#preview [role="tab"].open {
  display: block;
}

#preview iframe {
  width: 100%;
  height: 100%;
  border: none;
}